body {
    background-image: url();
}
.v .veditor {
    min-height: 10rem!important;
    background-image: url(https://43.142.126.163/ico/girls.png)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: right!important;
    resize: none!important;
}
.v .vwrap {
    background-color: rgb(255, 251, 240)!important;
}