body {
    background-image: url("http://43.142.126.163/ico/background.ico");
    background-size: 100% 100%;
}
.v[data-class=v] .vwrap {
    border: 1px solid #b2ebf2;
}
nav.navbar {
    background-color: chocolate;
}
