body {
    background-image: url("http://43.142.126.163/ico/background.ico");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
nav.navbar {
    background-color: slateblue;
}
